{% extends "base.html" %}

{% block navbar %}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
    </ul>
    <form class="d-flex mx-auto" action="/search-results" method="GET">
        <input class="form-control me-2 text-center" type="search" name="query" placeholder="Search Songs/Playlists/Albums" aria-label="Search" style="width: 550px;">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/creator-home' %} active {% endif %}" href="/creator-account">Creator Mode</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/profile' %} active {% endif %}" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a href="/logout" style="color: white; text-decoration: none; margin-left: 10px;"><button class="btn btn-danger btn-block">Logout</button></a>
        </li>
    </ul>
</div>

{% endblock navbar %}


{% block content %}

<div class="container-sm border border-dark" style="margin-bottom:10px; padding:20px; border-radius: 10px;" >
    <h1>{{ album.name }}</h1>
    {% for song in songs %}
        <div class="card" style="margin-left: 25px; margin-right: 25px; margin-top: 20px;">
            <div class="card-body d-flex justify-content-between align-items-center" style="margin-left: 25px; margin-right: 25px;">
                <h5 class="card-title" style="margin: 0;">{{ song.name }}</h5>
                <div>
                    <a href="/song-details/{{ song.id }}" class="btn btn-secondary ms-3">View Lyrics</a>
                    <a href="/song-edit/{{ song.id }}" class="btn btn-secondary ms-3">Edit</a>
                    <button class="btn btn-danger ms-3" data-bs-toggle="modal" data-bs-target="#DeleteModal{{ song.id }}">Delete</button>
                </div>
                <div class="modal fade" tabindex="-1" id="DeleteModal{{ song.id }}" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Confirmation message -->
                                <p>Are you sure you want to delete {{ song.name }} ?</p>
                            </div>
                            <div class="modal-footer">
                                <!-- Cancel button -->
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <!-- Submit button to confirm removal -->
                                <form method="POST" action="/song-delete">
                                    <input type="hidden" name="song_id" value="{{ song.id }}">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <br>
</div>

{% endblock content %}
