{% extends "base.html" %}

{% block navbar %}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
    </ul>
    <form class="d-flex mx-auto" action="/search-results" method="GET">
        <input class="form-control me-2 text-center" type="search" name="query" placeholder="Search Songs/Playlists/Albums" aria-label="Search" style="width: 550px;">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/creator-home' %} active {% endif %}" href="/creator-account">Creator Mode</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/profile' %} active {% endif %}" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a href="/logout" style="color: white; text-decoration: none; margin-left: 10px;"><button class="btn btn-danger btn-block">Logout</button></a>
        </li>
    </ul>
</div>

{% endblock navbar %}


{% block content %}

<div class="container-sm border border-dark" style="margin-top: 50px; margin-bottom: 50px; padding: 20px; width: 800px; border-radius: 10px;">
    <div>
        <h1 class="text-center" style="margin-top: 10px; margin-bottom: 30px;">Start with Uploading Songs</h1>
    </div>
    <div class="text-center" style="display: flex; justify-content: center; align-items: center;">
        <a href="/song-upload" class="btn btn-success btn-lg rounded-circle" style="font-size: 40px; width: 120px; height: 120px; line-height: 120px; display: flex; justify-content: center; align-items: center;">
            <span style="display: inline-block; vertical-align: middle;">+</span>
        </a>
    </div>
</div>

<div class="container-sm border border-dark" style="margin-top: 50px; margin-bottom: 50px; padding: 20px; width: 800px; border-radius: 10px;">
    <div>
        <h1 class="text-center" style="margin-top: 10px; margin-bottom: 30px;">Quick Links</h1>
    </div>
    <div class="container mt text-center">
        <div class="row">
            <div class="col">
                <a href="/creator-dashboard" class="btn btn-secondary">Your Dashboard</a>
            </div>
            <div class="col">
                <a href="/album-create" class="btn btn-secondary">Create Album</a>
            </div>
            <div class="col">
                <a href="/creator-albums" class="btn btn-secondary">Your Albums</a>
            </div>
            <div class="col">
                <a href="/creator-songs" class="btn btn-secondary">Your Songs</a>
            </div>
        </div>
      </div>
</div>

{% endblock content %}