{% extends "base.html" %}

{% block navbar %}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
    </ul>
    <form class="d-flex mx-auto" action="/search-results" method="GET">
        <input class="form-control me-2 text-center" type="search" name="query" placeholder="Search Songs/Playlists/Albums" aria-label="Search" style="width: 550px;">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/creator-home' %} active {% endif %}" href="/creator-account">Creator Mode</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/profile' %} active {% endif %}" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a href="/logout" style="color: white; text-decoration: none; margin-left: 10px;"><button class="btn btn-danger btn-block">Logout</button></a>
        </li>
    </ul>
</div>

{% endblock navbar %}

{% block content %}


{% if message %}
<div class="container-sm" style="width: 850px;">
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
</div>
{% endif %}

<div class="container-sm border border-dark" style="margin-top: 150px; margin-bottom: 150px; padding: 100px; width: 800px; border-radius: 10px;">
    <div>
        <h1 class="text-center" style="margin-top: 10px; margin-bottom: 30px;">Register as Creator</h1>
        <h3 class="text-center" style="margin-top: 10px; margin-bottom: 30px;">Create new Songs, Albums and much more</h3>
    </div>
    <br><br>
    <div class="text-center" style="display: flex; justify-content: center; align-items: center;">
        <form method="POST">
            <button type="submit" class="btn btn-success btn-lg rounded-circle" style="font-size: 40px; width: 120px; height: 120px; line-height: 120px; display: flex; justify-content: center; align-items: center;">
                <span style="display: inline-block; vertical-align: middle;">+</span>
            </button>
        </form>
    </div>
</div>

<script>
// Function to redirect after a 2 sec delay
function redirectToAnotherPage() {
    var message = "{{ message }}"
    if (message) {
        setTimeout(function() {
        window.location.href = "/creator-home";
    }, 3000);
    }
}
window.onload = redirectToAnotherPage;
</script>

{% endblock content %}