{% extends "base.html" %}

{% block navbar %}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
    </ul>
    <form class="d-flex mx-auto" action="/search-results" method="GET">
        <input class="form-control me-2 text-center" type="search" name="query" placeholder="Search Songs/Playlists/Albums" aria-label="Search" style="width: 550px;">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/creator-home' %} active {% endif %}" href="/creator-account">Creator Mode</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/profile' %} active {% endif %}" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a href="/logout" style="color: white; text-decoration: none; margin-left: 10px;"><button class="btn btn-danger btn-block">Logout</button></a>
        </li>
    </ul>
</div>

{% endblock navbar %}


{% block content %}

{% if message %}
<div class="container-sm" style="width: 850px;">
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
</div>
{% endif %}

<div class="container-sm border border-dark" style="margin-top: 50px; margin-bottom: 50px; padding:30px; border-radius: 10px; width: 900px;">
    <h1 class="text-center">Edit Song</h1>    

    <div style="display: flex; justify-content: center;">
        <form method="POST">
            <div class="form-group" style="margin-bottom: 10px;">
                <label for="title"><strong>Title</strong></label>
                <input type="text" class="form-control" id="title" name="title" value="{{ song_details.name }}" palceholder="Enter Title" style="width: 800px;" required>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label for="artist"><strong>Artist</strong></label>
                <input type="text" class="form-control" id="artist" name="artist" value="{{ song_details.artist }}" placeholder="Enter artist" style="width: 800px;" required>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label for="release-date"><strong>Release Date</strong></label>
                <input type="date" class="form-control" id="release-date" name="release-date" value="{{ song_details.release_date }}" style="width: 800px;" required>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label for="duration"><strong>Duration (in seconds)</strong></label>
                <input type="number" class="form-control" id="duration" name="duration" value="{{ song_details.duration }}" max="600" placeholder="Enter Duration (in seconds)" style="width: 800px;" required>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label for="album"><strong>Album</strong></label>
                <select class="form-select" name="album">
                    <option value="none">None</option>
                    {% if creator_albums %}
                        {% for album in creator_albums %}
                            <option value="{{ album['id'] }}" {% if album['name'] == current_album_name %}selected{% endif %}>{{ album['name'] }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label for="lyrics"><strong>Lyrics</strong></label>
                <textarea class="form-control" id="lyrics" name="lyrics" rows="5" placeholder="Enter lyrics" style="width: 800px;">{{ song_details.lyrics }}</textarea>
            </div>
            <br>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Function to redirect after a 3 sec delay
    function redirectToAnotherPage() {
        var message = "{{ message }}"
        if (message) {
            setTimeout(function() {
            window.location.href = "/creator-dashboard";
        }, 3000);
        }
    }
    window.onload = redirectToAnotherPage;
    </script>


{% endblock content %}
