{% extends "base.html" %}

{% block navbar %}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="d-flex mx-auto">
        <input class="form-control me-2 text-center" type="search" placeholder="Search Songs/Playlists/Albums" aria-label="Search" style="width: 600px;">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 15px;">
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/creator-home' %} active {% endif %}" href="/creator-account" style="margin-right: 10px;">Creator Mode</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/profile' %} active {% endif %}" href="/profile" style="margin-right: 10px;">Profile</a>
        </li>
    </ul>
    <div class="d-flex">
        <a href="/logout" style="color: white; text-decoration: none"><button class="btn btn-danger btn-block">Logout</button></a>
    </div>
</div>

{% endblock navbar %}


{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="container" style="margin: 20px;">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="text-start">{{ song.name }}</h1>
                        <div style="text-align: right;">
                            <a href="/rate/{{ song.id }}" style="color: white; text-decoration: none;"><button class="btn btn-dark">Rate This Track</button></a>
                        </div>
                    </div>
                    <h3>{{ song.artist }} | {{ song.release_date[:4] }}</h3>
                    
                    <div class="container border" style="margin-top: 20px;">
                        <div class="box-content">
                            <h2>Lyrics</h2>
                            <p>{{ song.lyrics }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
